<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminShopMapper">

	<resultMap type="Product" id="productResultSet"> 
		<id property="proCode" column="PRO_CODE"/>		
		<result property="cateCode" column="CATE_CODE" />
		<result property="proName" column="PRO_NAME" />
		<result property="price" column="PRICE" />	
		<result property="detailOri" column="DETAIL_ORI" />
		<result property="detailCha" column="DETAIL_CHA" />
		<result property="proAmount" column="PRO_AMOUNT" />
		<result property="proStatus" column="PRO_STATUS" />
		<result property="proContent" column="PRO_CONTENT" />
		
	</resultMap>
	
	
	<!-- 관리자 페이지 : 등록된 product 수  -->
	<select id = "selectListCount" resultType="_int">

	SELECT COUNT(*)
  	FROM PRODUCT
  	
    
  	</select>

	<!-- 관리자 페이지 : 등록된 제품들 전부 select해오기 -->
	<select id="selectList" parameterType="Product" resultMap="productResultSet">	
		 
	  SELECT *
	  FROM PRODUCT
	    
	</select>
	
	
	
	<!-- 관리자페이지: 제품 등록 -->	
	<insert id="insertProduct">	
		INSERT INTO PRODUCT VALUES(#{proCode}, #{cateCode}, #{proName}, #{price}, #{detailOri},#{detailCha}, DEFAULT, DEFAULT, #{proContent})
  
  	</insert>
  	
  	
  	
  	
  	<!-- 관리자페이지: 제품 디테일페이지 조회 -->	
  	<select id = "selectProduct" parameterType="Product" resultMap="productResultSet">

	  SELECT *
	  FROM PRODUCT 	  	  
	  WHERE PRO_CODE=#{proCode}
    
 	</select>
  	
  	
  	<!-- 관리자페이지: 제품 삭제 -->	
  	<update id="deleteProduct">
  
  		UPDATE PRODUCT SET PRO_STATUS='N' WHERE PRO_CODE=#{proCode}
    
  	</update>
  	
  	
  	<update id="updateProduct" parameterType="Product">
  
  
	  UPDATE PRODUCT
	  SET CATE_CODE=#{cateCode}, PRO_NAME=#{proName}, PRICE=#{price}, DETAIL_ORI=#{detailOri}, DETAIL_CHA=#{detailCha}, PRO_CONTENT=#{proContent}
	  WHERE PRO_CODE=#{proCode}
	  
	  
	</update>



	<!-- 사은품 리절트맵 -->
	
	<resultMap type="Freebie" id="freebieResultSet"> 
		<id property="freeNo" column="FREE_NO"/>		
		<result property="freeName" column="FREE_NAME" />
		<result property="originName" column="ORIGIN_NAME" />
		<result property="changeName" column="CHANGE_NAME" />	
		<result property="freePoint" column="FREE_POINT" />
		<result property="freeAmount" column="FREE_AMOUNT" />		
		
	</resultMap>
	
	
	<!-- 관리자 페이지 : 등록된 사은품 수  -->
	<select id = "freebieListCount" resultType="_int">

	SELECT COUNT(*)
  	FROM FREEBIE
  	
    
  	</select>

	<!-- 관리자 페이지 : 등록된 사은품 전부 select해오기 -->
	<select id="selectFreebieList" parameterType="Freebie" resultMap="freebieResultSet">	
		 
	  SELECT *
	  FROM FREEBIE
	    
	</select>


	
</mapper>