<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResultSet"> 
		<id property="bNo" column="B_NO"/>
         <result property="userNo" column="USER_NO"/>
         <result property="bCategoryNo" column="B_CATEGORY_NO"/>
         <result property="bTitle" column="B_TITLE"/>
         <result property="bContent" column="B_CONTENT"/>
         <result property="bDate" column="B_DATE"/>
         <result property="bCount" column="B_COUNT"/>
         <result property="bOriginName" column="B_ORIGIN_NAME"/>
         <result property="bChangeName" column="B_CHANGE_NAME"/>
         <result property="bStatus" column="B_STATUS"/>
         <result property="adbCategoryNo" column="ADB_CATEGORY_NO"/>
         <!-- 화면 출력용 -->
         <result property="userName" column="USER_NAME"/>
         <result property="bCategoryName" column="B_CATEGORY_NAME"/>
         <result property="adbCategoryName" column="ADB_CATEGORY_NAME"/>
	</resultMap>

	<resultMap type="Reply" id="replyResultSet">
		<id property="reNo" column="RE_NO"/>
      	<result property="userNo" column="USER_NO"/>
      	<result property="bNo" column="B_NO"/>
      	<result property="reContent" column="RE_CONTENT"/>
      	<result property="reDate" column="RE_DATE"/>
      	<result property="reStatus" column="RE_STATUS"/>
      	<result property="userName" column="USER_NAME"/>
	</resultMap>
	
	
	<!-- 게시글 카운트 -->
	<select id="selectListCount" resultType="_int"><!-- 파라미터 없음. 숫자만 출력하기 때문에 int로 함 -->
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS IN ('Y', 'R')
	</select>
	
	<!-- 게시판 목록 -->
	<select id="selectList" parameterType="Board" resultMap="boardResultSet">
		SELECT A.B_NO, C.B_CATEGORY_NAME, A.B_TITLE, B.USER_NAME, A.B_DATE, A.B_COUNT 
		FROM BOARD A
		JOIN MEMBER B ON A.USER_NO = B.USER_NO
		JOIN B_CATEGORY C ON A.B_CATEGORY_NO = C.B_CATEGORY_NO
		WHERE B_STATUS IN ('Y', 'R')
		ORDER BY B_NO DESC
	</select>
	
	<!-- 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		SET B_COUNT = B_COUNT + 1
		WHERE B_NO=#{bno}
		AND B_STATUS IN ('Y', 'R')
	</update>

	<!-- 게시글 선택 -->
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT A.*, C.B_CATEGORY_NAME, B.USER_NAME
		FROM BOARD A
		JOIN MEMBER B ON A.USER_NO = B.USER_NO
		JOIN B_CATEGORY C ON A.B_CATEGORY_NO = C.B_CATEGORY_NO
		WHERE B_NO=#{bno}
		AND B_STATUS IN ('Y', 'R')
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD VALUES
        (SEQ_B_NO.NEXTVAL, #{userNo}, #{BCategoryNo}, #{BTitle}, #{BContent}, SYSDATE, DEFAULT, #{BOriginName}, #{BChangeName}, DEFAULT)
	</insert>
		
	<!-- 게시글 삭제 -->	
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET B_STATUS = 'N' 
		WHERE B_NO=#{bno}	
	</update>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET B_CATEGORY_NO=#{BCategoryNo}, B_TITLE=#{BTitle}, B_CONTENT=#{BContent}, B_ORIGIN_NAME=#{BOriginName}, B_CHANGE_NAME=#{BChangeName}
		WHERE B_NO=#{bNo}	
	</update>
	
	<!-- 댓글 목록 -->
	<select  id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT A.*, B.USER_NAME
		FROM REPLY A
		JOIN MEMBER B ON A.USER_NO = B.USER_NO
		WHERE B_NO=#{bno}
		AND RE_STATUS='Y'
		ORDER BY RE_NO DESC
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY
		VALUES(SEQ_RNO.NEXTVAL, #{userNo}, #{BNo}, #{ReContent}, SYSDATE, DEFAULT, #{UserName})
	</insert>
	
	<!-- 게시글 신고 -->
	<update id="bReportBoard" parameterType="hashMap">
		UPDATE BOARD
		SET ADB_CATEGORY_NO=#{bReport}, B_STATUS = 'R'
		WHERE B_NO=#{bno}
	</update>
</mapper>