<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="gardenMapper">

	<resultMap type="com.uni.spring.garden.model.dto.VisitorBoard" id="VBoardResultSet"> 
		<id property="boardNo" column="BOARD_NO"/>
		<result property="writer" column="USER_ID" />		
		<result property="hostUser" column="HOST_USER" />
		<result property="content" column="CONTENT" />
		<result property="enrollDate" column="ENROLL_DATE" />	
		<result property="status" column="STATUS" />
	</resultMap>

	
	<select id="getBoardList" parameterType="string" resultMap="VBoardResultSet">
		
		<![CDATA[
		SELECT *
		FROM (
			SELECT A.BOARD_NO, B.USER_ID, A.HOST_USER, A.CONTENT, A.ENROLL_DATE, A.STATUS
			FROM VISITOR_BOARD A
			JOIN MEMBER B ON A.WRITER = B.USER_NO
			WHERE A.HOST_USER = #{hostUser} 
			AND A.STATUS='Y'
			ORDER BY A.BOARD_NO DESC)
		WHERE ROWNUM <= 3
		]]>
	
	</select>
	
	<select id="selectListCount" resultType="_int">
	
		SELECT COUNT(*)
		FROM VISITOR_BOARD
		WHERE HOST_USER = #{hostUser}
		AND STATUS = 'Y'
	
	</select>
	
	<select id="getBoardListAll" resultMap="VBoardResultSet">
	
		<![CDATA[
		SELECT *
		FROM (
			SELECT A.BOARD_NO, B.USER_ID, A.HOST_USER, A.CONTENT, A.ENROLL_DATE, A.STATUS
			FROM VISITOR_BOARD A
			JOIN MEMBER B ON A.WRITER = B.USER_NO
			WHERE A.HOST_USER = #{hostUser} 
			AND A.STATUS='Y'
			ORDER BY A.BOARD_NO DESC)
		]]>
	
	</select>
	
	<insert id="boardEnroll">
	
		INSERT INTO VISITOR_BOARD VALUES
		(SEQ_V_BOARD_NO.NEXTVAL, #{writer}, #{hostUser}, #{content}, DEFAULT, DEFAULT)
		
	</insert>
	
</mapper>