<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResultSet"> 
		<id property="userNo" column="USER_NO"/>		
		<result property="userId" column="USER_ID" />
		<result property="userPwd" column="USER_PWD" />
		<result property="userName" column="USER_NAME" />	
		<result property="birth" column="BIRTH" />
		<result property="gender" column="GENDER" />
		<result property="address" column="ADDRESS" />
		<result property="addressDetail" column="ADDRESS_DETAIL" />
		<result property="tel" column="TEL" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />	
		<result property="preference" column="PREFERENCE" />	
		<result property="enrollDate" column="ENROLL_DATE" />	
		<result property="delDate" column="DEL_DATE" />	
		<result property="status" column="STATUS" />	
	</resultMap>
	
	<resultMap type="Member" id="AdminMemberResultSet"> 
		<id property="userNo" column="USER_NO"/>		
		<result property="userId" column="USER_ID" />		
		<result property="userName" column="USER_NAME" />	
		<result property="birth" column="BIRTH" />
		<result property="gender" column="GENDER" />
		<result property="address" column="ADDRESS" />
		<result property="addressDetail" column="ADDRESS_DETAIL" />
		<result property="tel" column="TEL" />
		<result property="phone" column="PHONE" />
		<result property="email" column="EMAIL" />	
		<result property="preference" column="PREFER_PLANTS" />	
		<result property="enrollDate" column="ENROLL_DATE" />	
		<result property="delDate" column="DEL_DATE" />	
		<result property="status" column="STATUS" />	
	</resultMap>

	<!-- 암호화 하기 전 로그인  
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">	
		 
		SELECT * 
		FROM MEMBER
		WHERE USER_ID=#{userId} 
			AND USER_PWD=#{userPwd} 
			AND STATUS='Y'		
	</select> -->
	
	<!-- 암호화 로그인 -->
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">			 
		SELECT * 
		FROM MEMBER
		WHERE USER_ID=#{userId} 			
		AND STATUS='Y'		
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id ="idCheck" parameterType="string" resultType="_int">
		select count(*)
		from member
		where user_id=#{id}		
	</select>
	
	<!-- 회원가입  -->
	<insert id="insertMember" parameterType="Member">		
		INSERT INTO MEMBER VALUES
		(SEQ_USER_NO.NEXTVAL, #{userId}, #{userPwd}, #{userName}, #{birth}, #{gender}, #{address}, #{addressDetail}, #{tel}, #{phone}, #{email}, #{preference}, SYSDATE, NULL, 'Y')		
	</insert>
	
	<!-- 마이페이지 수정 -->
	<update id="updateMember" parameterType="Member">		
		UPDATE MEMBER
		SET USER_PWD=#{userPwd}, USER_NAME=#{userName}, GENDER=#{gender}, BIRTH=#{birth}, ADDRESS=#{address}, ADDRESS_DETAIL=#{addressDetail},
		TEL=#{tel}, PHONE=#{phone}, EMAIL=#{email}
		WHERE USER_ID=#{userId}
	</update>
	
	<!-- 탈퇴하기 -->
	<update id="deleteMember" parameterType="String">		
		UPDATE MEMBER
		SET STATUS='N', DEL_DATE=SYSDATE
		WHERE USER_ID=#{userId}
	</update>
	
	<!-- 관리자 - 회원관리 회원수 구하기 -->
	<select id="selectAdminMemberListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<!-- 관리자 - 회원관리 회원리스트 불러오기 -->
	<select id="selectAdminMemberList" resultMap="AdminMemberResultSet">
		SELECT A.USER_NO, A.USER_ID, A.USER_NAME, A.BIRTH, B.GENDER, A.ADDRESS, A.ADDRESS_DETAIL,
    			A.TEL, A.PHONE, A.EMAIL, C.PREFER_PLANTS, A.ENROLL_DATE, A.DEL_DATE, A.STATUS
		FROM MEMBER A
		JOIN GENDER B ON A.GENDER = B.GEN_CODE
		JOIN PREFERENCE C ON A.PREFERENCE = C.PREFER_CODE
		ORDER BY A.USER_NO DESC
	</select>
	
	<!-- 관리자 - 회원관리 디테일뷰 -->
	<select id="selectAdminMember" resultMap="AdminMemberResultSet">
		SELECT A.USER_NO, A.USER_ID, A.USER_NAME, A.BIRTH, B.GENDER, A.ADDRESS, A.ADDRESS_DETAIL,
    			A.TEL, A.PHONE, A.EMAIL, C.PREFER_PLANTS, A.ENROLL_DATE, A.DEL_DATE, A.STATUS
		FROM MEMBER A
		JOIN GENDER B ON A.GENDER = B.GEN_CODE
		JOIN PREFERENCE C ON A.PREFERENCE = C.PREFER_CODE
		WHERE USER_NO = #{mno}
	</select>
	
	<!-- 관리자 - 강퇴하기 -->
	<update id="deleteAdminMember" parameterType="_int">		
		UPDATE MEMBER
		SET STATUS='N', DEL_DATE=SYSDATE
		WHERE USER_NO=#{mno}
	</update>
	
	<!-- 관리자 - 회원복구하기 -->
	<update id="updateAdminMember">		
		UPDATE MEMBER
		SET STATUS='Y', DEL_DATE=NULL
		WHERE USER_NO=#{mno}
	</update>
</mapper>