<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reviewBoardmapper">


<resultMap id="rbResultSet" type="REVIEWBOARD">

<id column="RB_NO" property="rbNo"/>

<result column="USER_NO" property="userNo"/>

<result column="T_CATEGORY_NO" property="TCategoryNo"/>

<result column="RB_TITLE" property="rbTitle"/>

<result column="RB_CONTENT" property="rbContent"/>

<result column="RB_COUNT" property="count"/>

<result column="RB_DATE" property="date"/>

<result column="RB_ORIGIN_NAME" property="originName"/>

<result column="RB_CHANGE_NAME" property="changeName"/>

<result column="RB_STATUS" property="status"/>

</resultMap>

<resultMap type="RBLike" id="RBLikeResultSet">


    <id property="rbLikeNo" column="RB_LIKE_NO"/>
         <result property="rbNo" column="RB_NO"/>
         <result property="userNo" column="USER_NO"/>
         <result property="heart" column="HEART"/>
        

</resultMap>

     <!-- 예약카테고리 - 후기게시판 등록 수 -->
     <select id="selectRBListCount" resultType="_int">
     SELECT COUNT(*)FROM REVIEWBOARD 
     WHERE RB_STATUS='Y'
     </select>

     <!-- 후기게시판 전부 select해오기 -->
     <select id="selectList" resultMap="rbResultSet">
     SELECT *FROM REVIEWBOARD
     WHERE RB_STATUS = 'Y'ORDER BY RB_NO DESC 
     </select>
     
     <!-- 후기게시판 등록 -->
      <insert id="insertRBoard">
      
         INSERT INTO REVIEWBOARD
         VALUES (SEQ_TICKET.NEXTVAL, #{userNo},#{TCategoryNo},#{rbTitle},#{rbContent},#{count},SYSDATE,#{originName},#{changeName},DEFAULT)
      </insert>
      
       <!-- 후기게시판 디테일페이지 조회 -->
      <select id="selectRBoard" parameterType = "_int" resultMap = "rbResultSet">
 
     SELECT *
     FROM REVIEWBOARD
     WHERE RB_NO=#{rbNo} AND RB_STATUS='Y'
 
  </select>
  
  <!-- 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE REVIEWBOARD
		SET RB_COUNT = RB_COUNT + 1
		WHERE RB_NO=#{rbNo}
		AND RB_STATUS = 'Y' 
	</update>
  
  <select id="findHeart" parameterType="java.util.HashMap" resultType="RBLike">
	select * from RB_LIKE
	 where RB_NO=#{rbNo} and USER_NO=#{userNo}
</select>
  
   <!--
 <select id="findHeart" parameterType="_int" resultType="RBLike">
	select * from RB_LIKE where RB_NO=#{rbNo} and USER_NO=#{userNo}
</select>


<insert id="insertHeart" >
	insert into RB_LIKE(RB_NO, USER_NO, HEART)
		values(#{rbNo}, #{userNo}, 1)
</insert>

 
<delete id="deleteHeart" parameterType="_int" >
	delete from RB_LIKE where RB_NO=#{rbNo} and USER_NO=#{userNo}
</delete>--> 

</mapper>