<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shopMapper">

	<resultMap type="Point" id="PointResultSet"> 
	
		<id property="pointNum" column="POINT_NUM"/>		
		<result property="userNo" column="USER_NO" />
		<result property="pointVal" column="POINT_VAL" />
		<result property="pointDate" column="POINT_DATE" />	
		<result property="pointType" column="POINT_TYPE" />
		
		
	</resultMap>
	
	
	<!-- My Point List : 내 포인트 내역 조회해오기 -->
	<select id="selectMyPoint" parameterType="Point" resultMap="PointResultSet">	
		 
	  SELECT *
	  FROM POINT
	  WHERE USER_NO=#{userNo}
	    
	</select>
	
	
	<resultMap type="PointInfo" id="PointInfoResultSet"> 
			
		<id property="userNo" column="USER_NO"/>		
		<result property="totalPoint" column="TOTAL_POINT" />	
		
		
	</resultMap>
	
	
	
	<!-- My Point TOTAL : 토탈포인트 조회해오기 -->
	<select id="selectPointTotal" parameterType="PointInfo" resultMap="PointInfoResultSet">	
		 
	  SELECT *
	  FROM POINT_INFO
	  WHERE USER_NO=#{userNo}
	    
	</select>
	
	
	
	<resultMap type="ProReview" id="ProReviewResultSet"> 
	
		<id property="reviewNo" column="REVIEW_NO"/>		
		<result property="reviewWriter" column="REVIEW_WRITER" />
		<result property="proCode" column="PRO_CODE" />
		<result property="reviewStar" column="REVIEW_STAR" />	
		<result property="reviewTitle" column="REVIEW_TITLE" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="originName" column="ORIGIN_NAME" />
		<result property="changeName" column="CHANGE_NAME" />
		<result property="reviewDate" column="REVIEW_DATE" />
		<result property="reviewCount" column="REVIEW_COUNT" />
		<result property="reviewStatus" column="REVIEW_STATUS" />
		
		
		<result property="userId" column="USER_ID" />
		<result property="proName" column="PRO_NAME" />
		
		
	</resultMap>
	
	
	
	<!-- 등록된 my 리뷰 수 -->
	<select id = "myReviewListCount" resultType="_int">

	SELECT COUNT(*)
  	FROM PRO_REVIEW
  	WHERE REVIEW_STATUS='Y'
	AND REVIEW_WRITER=#{userNo}
  	
    
  	</select>

	<!-- 등록된 my리뷰 select해오기 -->
	<select id="selectMyReviewList" parameterType="ProReview" resultMap="ProReviewResultSet">	
	  
	  SELECT *
	  FROM PRO_REVIEW A
	  JOIN MEMBER B ON A.REVIEW_WRITER = B.USER_NO
	  JOIN PRODUCT C ON A.PRO_CODE = C.PRO_CODE  
	  WHERE REVIEW_STATUS='Y'
	  AND REVIEW_WRITER=#{userNo}
	    
	</select>
	
	
	 <update id = "increaseCountReview" parameterType="_int">
    
	  UPDATE PRO_REVIEW
	  SET REVIEW_COUNT=REVIEW_COUNT+1
	  WHERE REVIEW_NO=#{reviewNo}
	  AND REVIEW_STATUS='Y'
  
  
  	</update>  
	
	
	 <select id = "selectReview" parameterType="ProReview" resultMap="ProReviewResultSet">

	  SELECT *
	  FROM PRO_REVIEW A
	  JOIN MEMBER B ON A.REVIEW_WRITER = B.USER_NO
	  JOIN PRODUCT C ON A.PRO_CODE = C.PRO_CODE 	  	  
	  WHERE A.REVIEW_STATUS='Y'	  
	  AND A.REVIEW_NO=#{reviewNo}
    
  	</select>
  	
  	
    <!--리뷰 수정 -->
  	
  	<update id="updateReview" parameterType="ProReview">
  
  
	  UPDATE PRO_REVIEW
	  SET REVIEW_STAR=#{reviewStar}, REVIEW_TITLE=#{reviewTitle}, REVIEW_CONTENT=#{reviewContent}, ORIGIN_NAME=#{originName}, CHANGE_NAME=#{changeName}
	  WHERE REVIEW_NO=#{reviewNo}
	  
	  
	</update>
	
	
	
	<!--리뷰 삭제 -->	
  	<update id="deleteReview">
  
  		UPDATE PRO_REVIEW
  		SET REVIEW_STATUS='N'
  		WHERE REVIEW_NO=#{reviewNo}
    
  	</update>
  	
  	
  	
  	
  	
  	
  	<resultMap type="Product" id="productResultSet"> 
		<id property="proCode" column="PRO_CODE"/>		
		<result property="cateCode" column="CATE_CODE" />
		<result property="proName" column="PRO_NAME" />
		<result property="price" column="PRICE" />	
		<result property="detailOri" column="DETAIL_ORI" />
		<result property="detailCha" column="DETAIL_CHA" />
		<result property="proAmount" column="PRO_AMOUNT" />
		<result property="proStatus" column="PRO_STATUS" />
		<result property="proContent" column="PRO_CONTENT" />
		
	</resultMap>
	
  	
  	
	<!--등록된 product 수 (판매중인것) -->
	<select id = "productListCount" resultType="_int">

	SELECT COUNT(*)
  	FROM PRODUCT
  	WHERE PRO_STATUS='Y'
    
  	</select>

	<!--판매중인 제품 select해오기 -->
	<select id="selectShopList" parameterType="Product" resultMap="productResultSet">	
		 
	  SELECT *
	  FROM PRODUCT
	  WHERE PRO_STATUS='Y'
	    
	</select>
	
	
	<resultMap type="Cart" id="cartResultSet"> 
		<id property="cartNo" column="CART_NO"/>
		<result property="userNo" column="USER_NO" />
		<result property="proCode" column="PRO_CODE" />
		<result property="amount" column="AMOUNT" />
		
		
				
		<result property="cateCode" column="CATE_CODE" />
		<result property="proName" column="PRO_NAME" />
		<result property="price" column="PRICE" />	
		<result property="detailOri" column="DETAIL_ORI" />
		<result property="detailCha" column="DETAIL_CHA" />
		<result property="proAmount" column="PRO_AMOUNT" />
		<result property="proStatus" column="PRO_STATUS" />
		<result property="proContent" column="PRO_CONTENT" />
		
	</resultMap>
	
	
	<!--  cart select해오기 -->
	<select id = "selectCartList" parameterType="Cart" resultMap="cartResultSet">

	  SELECT *
	  FROM CART A	  
	  JOIN PRODUCT B ON A.PRO_CODE = B.PRO_CODE 	  	  
	  WHERE A.USER_NO=#{userNo}
    
  	</select>


</mapper>