<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
	 
		<typeAlias type="com.uni.spring.member.model.dto.Member" alias="Member"/>
		
		<typeAlias type="com.uni.spring.garden.model.dto.VisitorBoard" alias="VBoard"/>
		<typeAlias type="com.uni.spring.garden.model.dto.VisitorComment" alias="VComment"/>
		<typeAlias type="com.uni.spring.garden.model.dto.DailyLog" alias="DailyLog"/>
		<typeAlias type="com.uni.spring.garden.model.dto.Neighbor" alias="Neighbor"/>

	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>		
		<mapper resource="/mappers/garden-mapper.xml"/>		
	</mappers>
	
	
</configuration>