<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
	 
		<typeAlias type="com.uni.spring.member.model.dto.Member" alias="Member"/>
		
		
		<typeAlias type="com.uni.spring.garden.model.dto.VisitorBoard" alias="VBoard"/>
		<typeAlias type="com.uni.spring.garden.model.dto.VisitorComment" alias="VComment"/>
		<typeAlias type="com.uni.spring.garden.model.dto.DailyLog" alias="DailyLog"/>
		<typeAlias type="com.uni.spring.garden.model.dto.DailyLogComment" alias="LogComment"/>
		<typeAlias type="com.uni.spring.garden.model.dto.Neighbor" alias="Neighbor"/>
		<typeAlias type="com.uni.spring.garden.model.dto.PlantInfo" alias="PlantInfo"/>
		<typeAlias type="com.uni.spring.garden.model.dto.PlantGrow" alias="PlantGrow"/>
		<typeAlias type="com.uni.spring.garden.model.dto.MyPlant" alias="MyPlant"/>
		

		
		<typeAlias type="com.uni.spring.shop.model.dto.Product" alias="Product"/>
		
		<typeAlias type="com.uni.spring.board.model.dto.Board" alias="Board"/>
		<typeAlias type="com.uni.spring.board.model.dto.Reply" alias="Reply"/>
		
		<typeAlias type="com.uni.spring.ticket.model.dto.Ticket" alias="Ticket"/>
		<typeAlias type="com.uni.spring.ticket.model.dto.RBoard" alias="REVIEWBOARD"/>
		
		<typeAlias type="com.uni.spring.help.model.dto.Faq" alias="Faq"/>
		<typeAlias type="com.uni.spring.help.model.dto.Notice" alias="Notice"/>
		<typeAlias type="com.uni.spring.help.model.dto.Inquiry" alias="Inquiry"/>
		<typeAlias type="com.uni.spring.help.model.dto.Answer" alias="Answer"/>
		<typeAlias type="com.uni.spring.help.model.dto.Chat" alias="Chat"/>
		
		<typeAlias type="com.uni.spring.shop.model.dto.Freebie" alias="Freebie"/>
		<typeAlias type="com.uni.spring.shop.model.dto.ProReview" alias="ProReview"/>
		<typeAlias type="com.uni.spring.shop.model.dto.Point" alias="Point"/>
		<typeAlias type="com.uni.spring.shop.model.dto.Cart" alias="Cart"/>
		<typeAlias type="com.uni.spring.shop.model.dto.PointInfo" alias="PointInfo"/>
		<typeAlias type="com.uni.spring.shop.model.dto.ProStock" alias="ProStock"/>
		<typeAlias type="com.uni.spring.shop.model.dto.ProReview" alias="ProReview"/>
		<typeAlias type="com.uni.spring.shop.model.dto.ReviewLike" alias="ReviewLike"/>
		<typeAlias type="com.uni.spring.shop.model.dto.ProOrder" alias="ProOrder"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>		
		<mapper resource="/mappers/garden-mapper.xml"/>
		
		
		<mapper resource="/mappers/adminShop-mapper.xml"/>
		<mapper resource="/mappers/shop-mapper.xml"/>
		
		<mapper resource="/mappers/board-mapper.xml"/>	
		
		<mapper resource="/mappers/ticket-mapper.xml"/>
		<mapper resource="/mappers/reviewBoard-mapper.xml"/>	
		
		<mapper resource="/mappers/help-mapper.xml"/>	
				
	</mappers>
	
	
</configuration>